/
  You are reading the source of my DST, awesome.  I highly recommend looking at the github for it (https://github.com/crimsonknave/obsidian_portal_fate) instead of where ever you are reading it now.  I'm writing the javascript in coffeescript so that's probably going to be more readable and the css is in scss.  If you find any bugs or have any feature requests you can create an issue on the github page or send me a message on Obsidian Portal.  Anything in master should be for the latest accepted version, branches will be in progress or not yet accepted submissions.
%link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}/
.sheet_boundary
  .game_info
    .player
      %span Player
      %span.dsf.dsf_player
    .campaign
      %span Campaign
      %span.dsf.dsf_campaign
  .avatar.container
    %span.dsf.dsf_avatar_image.readonly
  = Haml::Engine.new(File.read('devkit/basic_info.html.haml')).render
  = Haml::Engine.new(File.read('devkit/aspects.html.haml')).render
  = Haml::Engine.new(File.read('devkit/skills.html.haml')).render
  = Haml::Engine.new(File.read('devkit/stunts.html.haml')).render
  .extras.container.large_text
    %span.header.left  
    %span.header.content.full_width_header EXTRAS
    %span.header.right  
    %span.dsf.dsf_extras
  .hurtings
    .negative_aspects
      = Haml::Engine.new(File.read('devkit/consequences.html.haml')).render
      = Haml::Engine.new(File.read('devkit/conditions.html.haml')).render
    = Haml::Engine.new(File.read('devkit/stress.html.haml')).render
    .bio
      .backstory.container
        %span.header.left  
        %span.header.full_width_header.content BACKSTORY
        %span.header.right  
      %span.dsf.dsf_bio
    .credits
      Character by
      = succeed "," do
        %span.dsf.dsf_player
      %span.dsf.dsf_dst_author
  / End HTML Template - Don't copy anything below here into the template!
